.blog-detail-page {
  border-bottom: 1px solid #c1c1c1;
  padding: 3% 8%;
}

.blog-main-image {
  border-radius: 0.25rem;
  height: 400px;
  margin-top: 2rem;
  object-fit: cover;
  width: 100%;
}

.blog-author-name,
.blog-category-name,
.blog-date {
  font-size: 0.9rem;
  font-weight: 300;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0;
}

.col-1 {
  width: 750px;
}

.blog-title {
  margin: 1rem 0;
}

.blog-body {
  margin: 1rem 0;
}

.blog-body * {
  margin: 0.7rem 0;
}

.col-2 {
  width: 350px;
}
