.dashboard-blog {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0rem;
  justify-content: space-between;
}

.dashboard-blog-title {
  cursor: pointer;
  margin: 0.5rem;
  text-align: left;
  width: 550px;
}

.dashboard-blog-btns {
  margin: 0.5rem;
  width: 150px;
}

.counter {
  margin: 0 0.5rem;
}

.dashboard-delete-blog-btn,
.dashboard-update-blog-btn {
  border-color: #fc7978;
  background-color: #fc7978;
  border: none;
  border-radius: 0.25rem;
  box-shadow: -2px 7px 21px -10px rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.6s linear;
}

.dashboard-delete-blog-btn:hover,
.dashboard-update-blog-btn:hover {
  background-color: #fc5f5f;
}
